body{
    font-family: arial, sans-serif;
    background-color: #f0f0f0;
}
h3{
    color: #0d6efd;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    padding-right: 15%;

}
form{
    max-width: 400px;
    margin: auto;
}
input{
    border-radius: 5px;
}
footer{
    background-color: bisque;
}
