body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}
h4{
    color: #0d6efd;

    margin-bottom: 10px;
}
select{
    max-width: 250px;
}
#box div{
    background: white;
    border-radius: 6px;
    border-bottom: 0 1px 3px rgba(0,0,0,0.1);
    text-align: center;
}
#box b{
    color: #0d6efd;
}